.modern-calendar-container {
  max-width: 100%;
  margin: auto;
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 500px; /* Set a fixed height for the scrollable container */
}

.modern-calendar {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: box-shadow 0.5s ease; /* Smooth transition for hover effect */
}

.react-calendar__tile {
  border-radius: 8px; /* Rounded corners for tiles */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

.react-calendar__tile:enabled:hover {
  background-color: #e0e0e0; /* Change background color on hover */
  transform: scale(1.05); /* Slightly enlarge tile on hover */
}

.react-calendar__tile--highlight {
  background: #ffeb3b;
  color: white;
}

.react-calendar__tile--now {
  background: #2196f3;
  color: white;
}

.react-calendar__tile--active {
  background: #4caf50;
  color: white;
}
